@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Inter:wght@400;700&family=Lora:ital,wght@0,700;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply flex  flex-col  mt-16 w-10/12 lg:w-6/12 m-auto font-mono dark:bg-black-400;
}
*{
    @apply transition-all duration-500 
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-shake {
  animation: shake 700ms  ;
}
.lastchild > *:not(:last-child){
  @apply after:content-[','] 
}
.lastchild>*:last-child{
  @apply  after:content-['\2022'] after:text-purple after:inline-block after:ml-1 after:text-[0.7rem] after:dark:text-white-100
}
